@tailwind base;
@tailwind components;
@tailwind utilities;

.navlink :hover {
    background-color: rgb(174, 248, 255)
}
.navlink{
    display: flex;
    align-items: center;
}
svg {
    display: initial;
 }
 
.dang-tin{
    background-color: #01d475;
}
.dang-tin :hover {
    background-color: red;
}
.active {
    background-color: #006da4 !important;
    color: rgb(255, 255, 255);
    border-bottom: 4px  solid black;
    box-shadow: 2px
  }
  .active :hover {
    background-color: #006da4 !important
  }